<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/destinoErroJSP.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/jsp/destinoErroJSP.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>olamundo</servlet-name>
    <servlet-class>servlets.OlaMundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>olamundo</servlet-name>
    <url-pattern>/html/olaMundo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>salvadados</servlet-name>
    <servlet-class>dataBase.SalvarEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>salvadados</servlet-name>
    <url-pattern>/html/salvarEmailUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retornaLogin</servlet-name>
    <servlet-class>dataBase.RetornaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retornaLogin</servlet-name>
    <url-pattern>/html/loginSalvaUsuarioEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contador</servlet-name>
    <servlet-class>servlets.QueryString</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contador</servlet-name>
    <url-pattern>/html/contador</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>buscapessoa</servlet-name>
    <servlet-class>navegacao.BuscaUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscapessoa</servlet-name>
    <url-pattern>/html/buscaUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listapessoa</servlet-name>
    <servlet-class>navegacao.ListaUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listapessoa</servlet-name>
    <url-pattern>/listaUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletconfig</servlet-name>
    <servlet-class>servlets.TstServletConfig</servlet-class>
    <init-param>
      <description>versao do sistema</description>
      <param-name>version</param-name>
      <param-value>3.0</param-value>
    </init-param>
    <init-param>
      <description>localidade do sistema</description>
      <param-name>default_locale</param-name>
      <param-value>pt_BR</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletconfig</servlet-name>
    <url-pattern>/html/servletConfig</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>localidade do banco</description>
    <param-name>database_default_server</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <servlet>
    <servlet-name>servletcontext</servlet-name>
    <servlet-class>servlets.TstServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletcontext</servlet-name>
    <url-pattern>/html/servletContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginApp.GeraTelaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/html/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validalogin</servlet-name>
    <servlet-class>loginApp.ValidaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validalogin</servlet-name>
    <url-pattern>/validaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>geratelalogin</servlet-name>
    <servlet-class>loginApp.GeraTelaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geratelalogin</servlet-name>
    <url-pattern>/geraTelaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>iniciaaplicacao</servlet-name>
    <servlet-class>loginApp.IniciaAplicacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>iniciaaplicacao</servlet-name>
    <url-pattern>/iniciaAplicacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fimaplicacao</servlet-name>
    <servlet-class>loginApp.EfetuaLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fimaplicacao</servlet-name>
    <url-pattern>/efetuaLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>origemNavegacao</servlet-name>
    <servlet-class>navegacao.OrigemNavegacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>origemNavegacao</servlet-name>
    <url-pattern>/html/origemRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>destinoNavegacao</servlet-name>
    <servlet-class>navegacao.DestinoNavegacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>destinoNavegacao</servlet-name>
    <url-pattern>/html/destinoRedirect</url-pattern>  
  </servlet-mapping>  
  <servlet>
    <servlet-name>navegacaoServletJsp</servlet-name>
    <servlet-class>navegacaoJsp.BuscaUsuarioJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>navegacaoServletJsp</servlet-name>
    <url-pattern>/html/navegacaoServletJsp</url-pattern>
  </servlet-mapping>  
</web-app>